* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  /* Colors */
  --text-title: #0c3440;

  --text-label: #00453a;
  --text-input: #212529;
  --text-place: rgba(73, 80, 87, 0.5);
  --cl-outline: #02799d;
  --cl-border: rgba(73, 80, 87, 0.3);

  --text-btn: #ffffff;
  --bg-btn: #02799d;

  --bg-error: #f03e3e;
  --text-error: #ffffff;
}

body {
  background-color: #040924;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  place-content: center;
}

.card {
  max-width: 42.8rem;
  margin-inline: auto;
  background: white;
  padding: 4.8rem 6.4rem 6.4rem;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
}
